div 
          {
          width: 250px;
          border: 15px solid black;
          padding: 25px;
          margin: 25px;
          }
        .box
          {
          background-color:#cccccc;
          height:415px;
          width:260px;
          border-radius:20px;
          position:relative;
          top:40px;
          left:10%;
          } 
        .button
          {
          display: inline-block;
          padding: 13px 25px;
          font-size: 18px;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          outline: none;
          color: #fff;
          background-color: #404040;
          border: none;
          border-radius: 15px;
          box-shadow: 0 3px #999;       
          }
        .button:hover
          {
          background-color: #999999;
          color: black;
          }
        .button:active
          {
          background-color: #74254d;
          color: white;
          box-shadow: 0 5px #999;
          }
        #clearbuttons
          {
          padding: 15px 36px;
          }
        #addnumber0
          {
          padding: 15px 55px;
          }
        #equalbutton
          {
          padding: 15px 60px;
          }
        .display
          {
          background-color: white;
          width:245px;
          position:relative;
          left:1px;
          top:20px;
          height:40px;
          font-size:21px;
          text-align:right;
          color:black;
          border-radius:10px;
          }
